mat-icon {
  color: white;
}
mat-icon:hover {
  color: rgbrgb(226, 199, 145);
}
button {
  margin: 0.5em;
  background-color: rgb(216, 140, 0);
}

mat-toolbar {
  background-color: rgb(43, 43, 43);
}

span {
  color: rgb(243, 233, 213);
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
span:hover {
  color: rgb(226, 199, 145);
}
a {
  margin: auto 0.2em;
  text-decoration: none;
}

.example-spacer {
  flex: 1 1 auto;
}
