<p>
    <mat-toolbar>
      <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/" routerLinkActive="active">home</mat-icon>

      <!-- <span><button mat-raised-button >Gipher</button></span> -->
      <div class="example-button-row container">
        <button mat-raised-button routerLink="/search" color="primary" routerLinkActive="active">Search Gifs</button>
        <button mat-raised-button routerLink="/favourite" routerLinkActive="active" color="primary">Favourite Gifs</button>
        
        <button mat-raised-button routerLink="/recommended" color="primary" routerLinkActive="active">Recommended Gifs</button>
        <button mat-raised-button routerLink="/login" color="primary" routerLinkActive="active" class="login">Login</button>
        <button mat-raised-button routerLink="/register" color="primary" routerLinkActive="active" class="login">Register</button>

      </div>
    </mat-toolbar>
  </p>