<div class="bootstrap-wrapper">

    <div class="container mt">
        
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid" style="width: 80px;" src="assets/password.png" alt="" />
                </div>
                <h1 class="text-center">LogIn</h1>
                
                <!-- Login form -->
                <form (ngSubmit)="logIn()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="credentials.userId" name="userId" required type="text" matInput autocomplete="off" />
                    </mat-form-field>
                
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="credentials.userPassword" name="password" required type="password" matInput />
                    </mat-form-field>
                    
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="accent">Login</button>
                        <a style="margin-left: 10px" mat-raised-button color="primary" routerLink="/register">New user? Register</a>
                    </div>

                </form>

            </div>
        </div>

    </div>

</div>