<h1><span></span></h1>

<ngx-masonry >
<!-- <div ngxMasonryItem class="page">

    <div fxLayout="row wrap" fxLayoutGap="16px grid"> -->
      <div ngxMasonryItem class="mwidth" *ngFor="let result of results">
        <mat-card role="group" class="card" >
      <mat-card-header>
      
        <mat-card-title>{{result.title}}</mat-card-title>
    
      </mat-card-header>
      <img mat-card-image  [src]="result.images.downsized_medium.url" [alt]="result.title">
   
      <mat-card-actions>
        <button mat-stroked-button class="add-button" (click)="addFav(result.images.downsized_medium.url,result.title)">Add to Favorites</button>
      </mat-card-actions>
    </mat-card>

  </div>
      <!-- </div>


    </div> -->
  </ngx-masonry>

