.card {
  background-color: rgb(43, 43, 43);
  box-shadow: 5px 5px 5px grey;
  margin-bottom: 20px !important;
  margin-left: 5px;
  color: rgb(243, 233, 213);

  /* height: fit-content;
    width: fit-content; */
}
mat-card-title {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
.add-button {
  background-color: rgb(216, 140, 0);
  color: rgb(43, 43, 43);
  font-family: "Roboto", sans-serif;
  transition: transform 250ms;
}
.add-button:hover {
  color: white;
}
.add-button:active {
  color: black;
  transform: translateY(-10px);
}
.mwidth {
  width: 33%;
}
.image {
  height: fit-content;
  width: 100px;
}
.page {
  background-color: azure;
}
.masonry-layout {
  /* column-count: 2; */
  column-gap: 2px;
  /* margin: 8px; */
}

.masonry-layout__panel {
  break-inside: avoid;
}

.masonry-layout__panel-content {
  display: flex;
  flex-flow: column wrap;
}
