.fixedElement {
  background-color: blue;
  /* position: fixed; */
  height: 100px;
  z-index: 10;
}
.page-props {
  background-color: black;
  /* position: fixed; */
  /* scroll-margin: 32px; */
}
.example-image {
  width: 32vw;
  height: 33vh;
}
.example-card {
  width: fit-content;
  height: fit-content;
}
.card {
  background-color: rgb(43, 43, 43);
  box-shadow: 5px 5px 5px grey;
  margin-bottom: 20px !important;
  margin-left: 5px;
  color: rgb(216, 140, 0);
  /* height: fit-content;
    width: fit-content; */
}
mat-card-title {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
.add-button {
  background-color: rgb(216, 140, 0);
  color: rgb(43, 43, 43);
  font-family: "Roboto", sans-serif;
  transition: transform 250ms;
}
.add-button:hover {
  color: white;
}
.add-button:active {
  color: black;
  transform: translateY(-10px);
}
.mwidth {
  width: 33%;
}

input {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(219, 142, 55, 0.288);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.btn {
  border: 0;
  color: wheat;
  background-color: rgb(43, 43, 43);
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
