
    <h1 class="text-center display-2 mt-3"><span class="text-danger"></span> GIPHER Search</h1>

    <div class = "contain">
    <form >
      <div class="form-group">
        <input type="search" class="form-control" placeholder="Search here!" [(ngModel)]="ui.userInput" name="userInput">
        <button type="submit" class="btn btn-primary mb-3" (click)="search()">Search all the gifs!</button>  
      </div>
     
    </form>
  </div>

    <!-- <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <div>
        <input type="search" class="form-control" placeholder="Search here!" [(ngModel)]="ui.userInput" name="userInput">
      </div>
        
      </mat-form-field>
      <button type="submit" class="btn btn-primary mb-3" (click)="search()">Search all the gifs!</button>
      </form> -->


    <!-- <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <input type="search" class="form-control" placeholder="Search here!" [(ngModel)]="ui.userInput" name="userInput">
      <button mat-button *ngIf="ui.userInput" matSuffix mat-icon-button aria-label="Clear" (click)="ui.userInput=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" class="btn btn-primary mb-3" (click)="search()">Search all the gifs!</button> -->
    

  <ngx-masonry >
    <!-- <div ngxMasonryItem class="page">
    
        <div fxLayout="row wrap" fxLayoutGap="16px grid"> -->
          <div ngxMasonryItem class="mwidth" *ngFor="let result of searchresults">
            <mat-card role="group" class="card" >
          <mat-card-header>
          
            <mat-card-title>{{result.title}}</mat-card-title>
        
          </mat-card-header>
          <img mat-card-image  [src]="result.images.downsized_medium.url" [alt]="result.title">
       
          <mat-card-actions>
            <button mat-stroked-button class="add-button" (click)="addFav(result.images.downsized_medium.url,result.title)">Add to Favorites</button>
          </mat-card-actions>
        </mat-card>
    
      </div>
          <!-- </div>
    
    
        </div> -->
      </ngx-masonry>
    
    